<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />
    <queries><package android:name="moe.shizuku.privileged.api" /></queries>
    <application android:label="安装器" android:icon="@android:drawable/sym_def_app_icon"
        android:allowBackup="false" android:supportsRtl="true" android:theme="@style/AppTheme">
        <meta-data android:name="moe.shizuku.client.V3_SUPPORT" android:value="true" />
        <provider android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku" android:multiprocess="false"
            android:exported="true" android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
        <activity android:name=".InstallActivity" android:exported="true"
            android:configChanges="orientation|screenSize|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>
        </activity>
    </application>
</manifest>
